/**
 *
 * Author : Aditya Shakya (adi1090x)
 * Github : @adi1090x
 * 
 * Colors
 **/

* {
    background:     #212121;
    background-alt: #494440;
    foreground:     #F1F1F1;
    selected:       #D6D7D9;
    active:         #94BFA2;
    urgent:         #E59892;
}
